<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favotire</title>
    <link rel="stylesheet" href="/src/css/style.css" />
</head>

<body>
    <main class="container">
        <section class="header-tortilla">
            <div class="zone1">
                <div class="text1">
                    <h1>
                        <u><i>Tortilla de Patatas con Cebolla</i></u>
                    </h1>
                </div>
            </div>
            <div class="zone2">
                <div class="photo">
                    <img src="/src/images/tortilla.jpg" width="1300" height="500" />
                </div>
            </div>
            <div class="zone3">
                <div class="ingredients">

                    <b>Huevos, patatas, cebolla, leche, sal y aceite de oliva
                        virgen.</b>

                </div>
            </div>
            <div class="time">
                <div class="texttime">
                    <b>5 Minutos las cebollas
                        25 minutos las patatas a fuego medio.
                        3 minutos por lado para dejarla poco cocida.
                    </b>
                </div>
            </div>
            <div class="zone4">
                <div class="preparation">
                    <div class="text">
                        <b>Pelamos las patatas las cortamos por la mitad y rebanamos en lonchas de 3mm
                            , pelamos la cebolla y troceamos en trocos muy pequeños y las ponemos a cocinar
                            fuego medio para marcarlas.Una vez pochadas, reservamos, ponemos aceite de oliva
                            y ponemos las patatas, mezcladas con la cebolla, a fuego medio y tapadas, vamos
                            removiendo
                            y controlonado haste que quedeen blandas sin deshacerse, unos 25 minutos, batimos 5
                            huuevos..
                        </b>
                    </div>
                </div>
            </div>
            <div class="zone5">
                <div class="footer">
                    <div class="text5">
                        <h2><b>Create by Txema Blanco</b></h2>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>