<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favotire</title>
    <link rel="stylesheet" href="/src/css/style.css" />
</head>

<body>
    <main class="container">
        <div class="zone1">
            <div class="text1">
                <h1>
                    <u><i>Tortilla de Patatas con Cebolla</i></u>
                </h1>
            </div>
        </div>
        <div class="zone2">
            <div class="photo">
                <img src="/src/images/tortilla.jpg" height="500px" width="100%">
            </div>
        </div>
        <div class="zone3">
            <div class="ingredients">
                <h3><br>INGREDIENTS:</h3>
                <input type="checkbox" id="ing1" name="ing1" value="huev">
                <label for="ing1">5 Huevos</label><br>
                <input type="checkbox" id="ing2" name="ing2" value="pat">
                <label for="ing2">3 Patatas</label><br>
                <input type="checkbox" id="ing3" name="ing3" value="ceb">
                <label for="ing3">1 Cebolla</label><br>
                <input type="checkbox" id="ing4" name="ing4" value="lec">
                <label for="ing4">250ml Leche</label><br>
                <input type="checkbox" id="ing5" name="ing5" value="sa">
                <label for="ing5">Sal</label><br>
                <input type="checkbox" id="ing6" name="ing6" value="ace">
                <label for="ing6">Aceite de Oliva virgen</label><br><br>
            </div>

            <div class="time">
                <div class="texttime">
                    <h3>TIME:</h3>
                    <b>45 Minutos
                    </b>
                </div>
            </div>
        </div>
        <div class="zone4">
            <div class="preparation">
                <div class="text">
                    <h3><br>PREPARATION:</h3>
                    Pelamos las patatas las cortamos por la mitad y rebanamos en lonchas de 2mm
                        , pelamos la cebolla, troceamos en brunoise y las ponemos a cocinar a
                        fuego medio para marcarlas.Una vez pochadas, reservamos, ponemos aceite de oliva
                        y ponemos las patatas, mezcladas con la cebolla a fuego medio y tapadas, vamos
                        removiendo y controlonado haste que quedeen blandas sin deshacerse, unos 25 minutos,
                        batimos 5 huevos y añadimos 200ml de leche... <br><br>
                    
                </div>
            </div>
        </div>
        <div class="zone5">
            <div class="text5">
                <h2><b>Create by Txema Blanco</b></h2>
            </div>
        </div>

    </main>
</body>

</html>