.container {

     width: 100%;



}

.zone1 {
     display: flex;
     justify-content: left;
     background-color: rgb(224, 197, 158);
     border: 2px solid #000;
     grid-template-columns: 4fr;
}

.text1 {
     display: flex;
     font-size: 150%;

}

.zone2 {
     padding-top: 5%;
     width: 100%;
     padding-block-end: 5%;


}


.photo {
     border-radius: 25px;
     border: 2px solid #000;
     width: 100%;

}

.zone3 {display: grid;
     padding-top: 5%;
     padding-left: 5%;
     border: 2px solid #000;
     border-right-width: 35%;
     padding-block-end: 5%;
}
.ingredients {
     display: flex;
     font-size: 150%;
}

.time {
     padding: 15%;
     border: 2px solid #000;
}

.texttime {
     display: flex;
     font-size: 150%;
     justify-content: space-around;
}

.zone4 {
     padding-top: 5%;
     grid-area: preparation;
     border: 2px solid #000;
     padding-block-end: 5%;
}
.text{
     display: flex;
     font-size: 150%;
     /* justify-content: space-around; */
}

.zone5 {
     background-color: rgb(224, 197, 158);
     border: 2px solid #000;
     /* grid-template-columns: 4fr; */
     border: 2px solid #000;
}

.text5 {
     height: auto;
     display: flex;
     text-align: center;
     justify-content: center;
     border: 2px solid #000;
}