.container {
     width: 100%;
     margin: auto;
     display: grid;
     /* grid-template-columns: 4fr; */
     gap: 4% 2px;
     height: 100px;
}

.zone1 {
     height: 15%;
     background-color: rgb(224, 197, 158);
     border: 2px solid #000;
     grid-template-columns: 4fr;
}

.text1 {
     height: auto;
     display: flex;
     font-size-adjust: calc();
     /* text-align: center; */
     justify-content: space-around;
}

.zone2 {
     border-image: 5px solid black;
     size-adjust: auto;
     padding: 150px;


}

.photo {
     float: right;
     grid-area: auto;
     border: 2px solid #000;
     border-radius: 20px;
     background-image: url('/src/images/tortilla.jpg');

}

.zone3 {
     grid-template-columns: 3fr 1fr;
     grid-template-rows: 2fr;
     grid-area: auto;
     border: 2px solid #000;

     height: auto;
     display: flex;
     text-size-adjust: 5px;
     /* text-align: center; */
     justify-content: center;
}

.time {
     border: 2px solid #000;
}

.zone4 {
     grid-area: preparation;
     border: 2px solid #000;
}

.zone5 {
     background-color: rgb(224, 197, 158);
     border: 2px solid #000;
     grid-template-columns: 4fr;
     border: 2px solid #000;
}

.text5 {
     height: auto;
     display: flex;
     text-align: center;
     justify-content: center;
     border: 2px solid #000;
}